Repository jfoucher/planck-6502: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mainboard_erc, io_erc, lcd_erc, opl_erc, proto_erc, mainboard_drc, lcd_drc, io_drc, opl_drc, proto_drc, mainboard_out, lcd_out, io_out, opl_out, proto_out, pages

Path conditions:
  mainboard_erc: any of: Hardware/mainboard/mainboard.kicad_sch
  io_erc: any of: Hardware/io_board/io_board.kicad_sch
  lcd_erc: any of: Hardware/lcd_board/lcd_board.kicad_sch
  opl_erc: any of: Hardware/opl2_board/opl2_board.kicad_sch
  proto_erc: any of: Hardware/proto_board/proto_board.kicad_sch
  mainboard_drc: any of: Hardware/mainboard/mainboard.kicad_pcb
  lcd_drc: any of: Hardware/lcd_board/lcd_board.kicad_pcb
  io_drc: any of: Hardware/io_board/io_board.kicad_pcb
  opl_drc: any of: Hardware/opl2_board/opl2_board.kicad_pcb
  proto_drc: any of: Hardware/proto_board/proto_board.kicad_pcb
  mainboard_out: any of: Hardware/mainboard/mainboard.kicad_sch, Hardware/mainboard/mainboard.kicad_pcb
  lcd_out: any of: Hardware/lcd_board/lcd_board.kicad_pcb, Hardware/lcd_board/lcd_board.kicad_sch
  io_out: any of: Hardware/io_board/io_board.kicad_pcb, Hardware/io_board/io_board.kicad_sch
  opl_out: any of: Hardware/opl2_board/opl2_board.kicad_pcb, Hardware/opl2_board/opl2_board.kicad_sch
  proto_out: any of: Hardware/proto_board/proto_board.kicad_pcb, Hardware/proto_board/proto_board.kicad_sch
  pages: any of: docs/**/*

Add buy instructions
  docs/_includes/header.html
  docs/_posts/2023-08-22-buy-kits.md
Due: pages

update thank you note
  docs/thank-you.md
Due: pages

sold out.
  docs/_includes/header.html
  docs/_posts/2023-08-22-buy-kits.md
  docs/buy.md
Due: pages

Add new forum post
  docs/_posts/2023-10-05-forum.md
  docs/img/logo-dark.png
Due: pages

fix RAM board ERC and DRC
  Hardware/ram_board/fp-info-cache
  Hardware/ram_board/ram_board.kicad_pcb
  Hardware/ram_board/ram_board.kicad_prl
  Hardware/ram_board/ram_board.kicad_pro
  Hardware/ram_board/ram_board.kicad_sch
Due: none

Fix mainboard DRC
  .gitignore
  Hardware/mainboard/mainboard.kicad_pcb
  Hardware/mainboard/mainboard.kicad_prl
  Hardware/mainboard/mainboard.kicad_pro
  Hardware/mainboard/mainboard.kicad_sch
Due: mainboard_erc, mainboard_drc, mainboard_out

fix mainboard ERC
  Hardware/mainboard/mainboard.kicad_pro
Due: none

fix mainboard DRC
  Hardware/mainboard/mainboard.kicad_pcb
Due: mainboard_drc, mainboard_out

deactivate thermal relief errors
  Hardware/mainboard/mainboard.kicad_prl
  Hardware/mainboard/mainboard.kicad_pro
Due: none

.
  Hardware/.kibot.yaml
  Hardware/mainboard/fp-info-cache
Due: none

.
  .gitlab-ci.yml
  Hardware/.kibot.yaml
Due: none

Can load intel hex files + jump to arbitrary address
  .gitlab-ci.yml
  Hardware/.kibot.yaml
  Hardware/mainboard/mainboard.kicad_pcb
  Hardware/mainboard/mainboard.kicad_pro
  Hardware/ram_board/ram_board.kicad_pcb
  Hardware/ram_board/ram_board.kicad_pro
  Software/fos/Makefile
  Software/fos/fos-planck.bin
  Software/fos/headers.s
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/main.s
  Software/fos/strings.s
  docs/Hardware/ram.md
Due: mainboard_drc, mainboard_out, pages

Update docs + add PS2 and LCD code back in.
  .gitignore
  Software/fos/fos-planck.bin
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/main.s
  Software/fos/platform/planck/memory.cfg
  docs/Hardware/proto.md
  docs/Hardware/ram.md
  docs/Software/index.md
Due: pages
