Repository jfoucher/planck-6502: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mainboard_erc, io_erc, lcd_erc, opl_erc, proto_erc, mainboard_drc, lcd_drc, io_drc, opl_drc, proto_drc, mainboard_out, lcd_out, io_out, opl_out, proto_out, pages

mainboard_erc:
  image: setsoft/kicad_auto:dev_k6
  stage: run_erc
  script:
  - cd Hardware/$DIR && [ -f *.kicad_sch ] && kibot -c ../.kibot.yaml -d ../Fabrication -s update_xml,run_drc -i
  artifacts:
    when: always
    paths:
    - Hardware/Fabrication/
  variables:
    DIR: mainboard

io_erc:
  image: setsoft/kicad_auto:dev_k6
  stage: run_erc
  script:
  - cd Hardware/$DIR && [ -f *.kicad_sch ] && kibot -c ../.kibot.yaml -d ../Fabrication -s update_xml,run_drc -i
  artifacts:
    when: always
    paths:
    - Hardware/Fabrication/
  variables:
    DIR: io_board

lcd_erc:
  image: setsoft/kicad_auto:dev_k6
  stage: run_erc
  script:
  - cd Hardware/$DIR && [ -f *.kicad_sch ] && kibot -c ../.kibot.yaml -d ../Fabrication -s update_xml,run_drc -i
  artifacts:
    when: always
    paths:
    - Hardware/Fabrication/
  variables:
    DIR: lcd_board

opl_erc:
  image: setsoft/kicad_auto:dev_k6
  stage: run_erc
  script:
  - cd Hardware/$DIR && [ -f *.kicad_sch ] && kibot -c ../.kibot.yaml -d ../Fabrication -s update_xml,run_drc -i
  artifacts:
    when: always
    paths:
    - Hardware/Fabrication/
  variables:
    DIR: opl2_board

proto_erc:
  image: setsoft/kicad_auto:dev_k6
  stage: run_erc
  script:
  - cd Hardware/$DIR && [ -f *.kicad_sch ] && kibot -c ../.kibot.yaml -d ../Fabrication -s update_xml,run_drc -i
  artifacts:
    when: always
    paths:
    - Hardware/Fabrication/
  variables:
    DIR: proto_board

mainboard_drc:
  image: setsoft/kicad_auto:dev_k6
  stage: run_drc
  script:
  - cd Hardware/$DIR && [ -f *.kicad_pcb ] && kibot -c ../.kibot.yaml -d ../Fabrication -s update_xml,run_erc -i
  artifacts:
    when: always
    paths:
    - Hardware/Fabrication/
  variables:
    DIR: mainboard

lcd_drc:
  image: setsoft/kicad_auto:dev_k6
  stage: run_drc
  script:
  - cd Hardware/$DIR && [ -f *.kicad_pcb ] && kibot -c ../.kibot.yaml -d ../Fabrication -s update_xml,run_erc -i
  artifacts:
    when: always
    paths:
    - Hardware/Fabrication/
  variables:
    DIR: lcd_board

io_drc:
  image: setsoft/kicad_auto:dev_k6
  stage: run_drc
  script:
  - cd Hardware/$DIR && [ -f *.kicad_pcb ] && kibot -c ../.kibot.yaml -d ../Fabrication -s update_xml,run_erc -i
  artifacts:
    when: always
    paths:
    - Hardware/Fabrication/
  variables:
    DIR: io_board

opl_drc:
  image: setsoft/kicad_auto:dev_k6
  stage: run_drc
  script:
  - cd Hardware/$DIR && [ -f *.kicad_pcb ] && kibot -c ../.kibot.yaml -d ../Fabrication -s update_xml,run_erc -i
  artifacts:
    when: always
    paths:
    - Hardware/Fabrication/
  variables:
    DIR: opl2_board

proto_drc:
  image: setsoft/kicad_auto:dev_k6
  stage: run_drc
  script:
  - cd Hardware/$DIR && [ -f *.kicad_pcb ] && kibot -c ../.kibot.yaml -d ../Fabrication -s update_xml,run_erc -i
  artifacts:
    when: always
    paths:
    - Hardware/Fabrication/
  variables:
    DIR: proto_board

Fix lcd erc + update mainboard memory map.
  Hardware/lcd_board/lcd_board.kicad_pcb
  Hardware/lcd_board/lcd_board.kicad_pro
  docs/Hardware/mainboard.md
Due: lcd_drc, lcd_out, pages

sed varialble substitution
  .gitlab-ci.yml
Due: none

IO board DRC
  Hardware/io_board/io_board.kicad_pcb
  Hardware/io_board/io_board.kicad_prl
  Hardware/io_board/io_board.kicad_pro
Due: io_drc, io_out

ignore all courtyard violations
  Hardware/io_board/io_board.kicad_pro
Due: none

change jack type
  docs/Hardware/index.md
Due: pages

update links in docs
  .gitlab-ci.yml
  docs/Hardware/cpu.md
  docs/Hardware/index.md
  docs/Hardware/io.md
  docs/Hardware/lcd.md
  docs/Hardware/mainboard.md
  docs/Hardware/make.md
  docs/Hardware/opl2.md
  docs/Hardware/proto.md
  docs/Hardware/serial.md
  docs/Software/index.md
  docs/_posts/2021-03-09-planck-computer-in-progress.md
  docs/_posts/2021-09-22-new-boards-on-the-way.md
Due: pages

cleanup
  .gitlab-ci.yml
  Hardware/io_board/.kibot.yaml
  Hardware/io_board/gerbers/gerbers.zip
  Hardware/io_board/gerbers/io_board-B_Cu.gbr
  Hardware/io_board/gerbers/io_board-B_Mask.gbr
  Hardware/io_board/gerbers/io_board-B_Paste.gbr
  Hardware/io_board/gerbers/io_board-B_SilkS.gbr
  Hardware/io_board/gerbers/io_board-Edge_Cuts.gbr
  Hardware/io_board/gerbers/io_board-F_Cu.gbr
  Hardware/io_board/gerbers/io_board-F_Mask.gbr
  Hardware/io_board/gerbers/io_board-F_Paste.gbr
  Hardware/io_board/gerbers/io_board-F_SilkS.gbr
  Hardware/io_board/gerbers/io_board-job.gbrjob
  Hardware/io_board/gerbers/io_board.drl
  Hardware/io_board/io_board.kicad_pcb
  Hardware/mainboard/README.md
Due: io_drc, io_out

test link
  Hardware/mainboard/README.md
Due: none

unique names for outputs
  .gitlab-ci.yml
  Hardware/.kibot.yaml
Due: none

unset zip format
  Hardware/.kibot.yaml
Due: none

update readme with proper links
  Hardware/mainboard/README.md
  docs/Hardware/mainboard.md
Due: pages

update links
  Hardware/io_board/README.md
  Hardware/lcd_board/README.md
  Hardware/opl2_board/README.md
  Hardware/proc_board/README.md
  Hardware/proto_board/README.md
Due: none

Add CF board
  .gitignore
  .gitlab-ci.yml
  Hardware/cf_board/65xx.dcm
  Hardware/cf_board/65xx.lib
  Hardware/cf_board/LICENSE.txt
  Hardware/cf_board/README.md
  Hardware/cf_board/cf_board-cache.lib
  Hardware/cf_board/cf_board.kicad_pcb
  Hardware/cf_board/cf_board.kicad_prl
  Hardware/cf_board/cf_board.kicad_pro
  Hardware/cf_board/cf_board.kicad_sch
  Hardware/cf_board/cf_board.pdf
  Hardware/cf_board/cf_board.png
  Hardware/cf_board/sym-lib-table
  docs/Hardware/cf.md
Due: pages

add jlc reference
  Hardware/cf_board/cf_board.kicad_pcb
Due: none

deploy pages if boards change
  .gitlab-ci.yml
Due: none

pages if board change
  .gitlab-ci.yml
Due: none

cleanup proto board
  .gitignore
  Hardware/proto_board/65xx.dcm
  Hardware/proto_board/65xx.lib
  Hardware/proto_board/fp-info-cache
  Hardware/proto_board/meta/icon.png
  Hardware/proto_board/meta/info.html
  Hardware/proto_board/planck_board-cache.lib
  Hardware/proto_board/planck_board.kicad_pcb
  Hardware/proto_board/planck_board.kicad_sch
  Hardware/proto_board/planck_board.pdf
  Hardware/proto_board/planck_board.png
  Hardware/proto_board/planck_board.pro
  Hardware/proto_board/planck_board.sch
  Hardware/proto_board/plots/gerbers.zip
  Hardware/proto_board/plots/planck_board-B_Cu.gbr
  Hardware/proto_board/plots/planck_board-B_Mask.gbr
  Hardware/proto_board/plots/planck_board-B_Paste.gbr
  Hardware/proto_board/plots/planck_board-B_SilkS.gbr
  Hardware/proto_board/plots/planck_board-Edge_Cuts.gbr
  Hardware/proto_board/plots/planck_board-F_Cu.gbr
  Hardware/proto_board/plots/planck_board-F_Mask.gbr
  Hardware/proto_board/plots/planck_board-F_Paste.gbr
  Hardware/proto_board/plots/planck_board-F_SilkS.gbr
  Hardware/proto_board/plots/planck_board-job.gbrjob
  Hardware/proto_board/plots/planck_board.drl
  Hardware/proto_board/proto_board.kicad_pcb
  Hardware/proto_board/proto_board.kicad_prl
  Hardware/proto_board/proto_board.kicad_pro
  Hardware/proto_board/proto_board.kicad_sch
Due: proto_erc, proto_drc, proto_out

cleanup
  Hardware/proto_board/fp-info-cache
  Hardware/proto_board/proto_board.kicad_pcb
  Hardware/proto_board/proto_board.kicad_prl
Due: proto_drc, proto_out

update with lcsc CF card socket
  Hardware/cf_board/cf_board.kicad_pcb
  Hardware/cf_board/cf_board.kicad_pro
  Hardware/cf_board/cf_board.kicad_sch
  Hardware/cf_board/sym-lib-table
Due: none

Add banked RAM board
  .gitignore
  .gitlab-ci.yml
  Hardware/cf_board/cf_board.kicad_pcb
  Hardware/ram_board/65xx.dcm
  Hardware/ram_board/65xx.lib
  Hardware/ram_board/LICENSE
  Hardware/ram_board/fp-info-cache
  Hardware/ram_board/gerbers/gerbers.zip
  Hardware/ram_board/gerbers/ram_board-B_Cu.gbr
  Hardware/ram_board/gerbers/ram_board-B_Mask.gbr
  Hardware/ram_board/gerbers/ram_board-B_Paste.gbr
  Hardware/ram_board/gerbers/ram_board-B_SilkS.gbr
  Hardware/ram_board/gerbers/ram_board-Edge_Cuts.gbr
  Hardware/ram_board/gerbers/ram_board-F_Cu.gbr
  Hardware/ram_board/gerbers/ram_board-F_Mask.gbr
  Hardware/ram_board/gerbers/ram_board-F_Paste.gbr
  Hardware/ram_board/gerbers/ram_board-F_SilkS.gbr
  Hardware/ram_board/gerbers/ram_board-job.gbrjob
  Hardware/ram_board/gerbers/ram_board.drl
  Hardware/ram_board/ram_board-cache.lib
  Hardware/ram_board/ram_board-rescue.dcm
  Hardware/ram_board/ram_board-rescue.lib
  Hardware/ram_board/ram_board.kicad_pcb
  Hardware/ram_board/ram_board.kicad_prl
  Hardware/ram_board/ram_board.kicad_pro
  Hardware/ram_board/ram_board.kicad_sch
  Hardware/ram_board/ram_board.pro
  Hardware/ram_board/ram_board.sch
  Hardware/ram_board/sym-lib-table
  docs/Hardware/ram.md
Due: pages

add 3D view to docs
  docs/Hardware/cf.md
  docs/Hardware/ram.md
Due: pages

[WIP] add cf card driver
  Software/fos/ed.s
  Software/fos/forth.s
  Software/fos/forth_code/user_words.fs
  Software/fos/fos-planck.bin
  Software/fos/headers.s
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/drivers/acia.s
  Software/fos/platform/planck/drivers/cf.inc
  Software/fos/platform/planck/drivers/cf.s
  Software/fos/platform/planck/drivers/delayroutines.s
  Software/fos/platform/planck/drivers/keyboard.s
  Software/fos/platform/planck/main.s
Due: none

can read cf sector
  Software/fos/fos-planck.bin
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/drivers/cf.s
  Software/fos/platform/planck/memory.cfg
Due: none

[WIP] add CF card driver
  Software/fos/Makefile
  Software/fos/forth.s
  Software/fos/fos-planck.bin
  Software/fos/fos-py65mon.bin
  Software/fos/headers.s
  Software/fos/macros.s
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/drivers/acia.s
  Software/fos/platform/planck/drivers/cf.s
  Software/fos/platform/planck/main.s
  Software/fos/platform/planck/memory.cfg
  Software/fos/platform/py65mon/main.s
  Software/fos/platform/py65mon/memory.cfg
  docs/Hardware/cf.md
Due: pages

Can list files on root directory
  Software/fos/fat16.s
  Software/fos/forth.s
  Software/fos/fos-planck.bin
  Software/fos/fos-py65mon.bin
  Software/fos/headers.s
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/drivers/cf.s
  Software/fos/platform/planck/main.s
  Software/fos/platform/planck/memory.cfg
  Software/fos/platform/py65mon/memory.cfg
Due: none

disable interrupts while reading sector
  Software/fos/fat16.s
  Software/fos/forth.s
  Software/fos/fos-planck.bin
  Software/fos/headers.s
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/drivers/cf.s
  Software/fos/platform/planck/main.s
Due: none

file name conversion ok
  Software/fos/fat16.s
  Software/fos/fos-planck.bin
  Software/fos/headers.s
  Software/fos/macros.s
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/drivers/cf.s
  Software/fos/platform/planck/main.s
Due: none

can navigate down to folders
  Software/fos/fat16.s
  Software/fos/fos-planck.bin
  Software/fos/macros.s
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/drivers/cf.s
Due: none

can go up and down through directories
  Software/fos/fat16.s
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
Due: none

can start outputting a file
  Software/fos/fat16.s
  Software/fos/fos-planck.bin
  Software/fos/headers.s
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/drivers/cf.s
Due: none

Add minix and other file systems trials
  Software/fos/fat16.s
  Software/fos/forth.s
  Software/fos/forth_code/user_words.fs
  Software/fos/fos-planck.bin
  Software/fos/fos-py65mon.bin
  Software/fos/headers.s
  Software/fos/macros.s
  Software/fos/minix.img
  Software/fos/minix.s
  Software/fos/native_words.s
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/drivers/acia.s
  Software/fos/platform/planck/drivers/cf.inc
  Software/fos/platform/planck/drivers/cf.s
  Software/fos/platform/planck/drivers/delayroutines.s
  Software/fos/platform/planck/drivers/lcd.s
  Software/fos/platform/planck/drivers/sd.inc
  Software/fos/platform/planck/drivers/sd.s
  Software/fos/platform/planck/drivers/spi.s
  Software/fos/platform/planck/drivers/timer.s
  Software/fos/platform/planck/drivers/zp.s
  Software/fos/platform/planck/main.s
  Software/fos/platform/planck/memory.cfg
  Software/fos/platform/py65mon/main.s
  Software/fos/platform/py65mon/memory.cfg
  Software/fos/py65mon-labelmap.txt
  Software/fos/py65mon-listing.txt
  Software/fos/tarfs.s
  Software/fos/test.tar
  Software/fos/utils.s
  Software/tests/Makefile
  Software/tests/cf_test.s
  Software/tests/planck.cfg
  docs/Hardware/cf.md
  docs/_posts/2023-02-25-kibot-generate-artifacts.md
  docs/_posts/2023-03-07-filesystem-for-planck.md
Due: pages

Can read file and list directories
  Hardware/io_board/io_board.kicad_pcb
  Hardware/io_board/io_board.kicad_pro
  Hardware/io_board/io_board.kicad_sch
  Software/fos/Makefile
  Software/fos/fos-py65mon.bin
  Software/fos/macros.s
  Software/fos/minix.s
  Software/fos/platform/py65mon/main.s
  Software/fos/py65mon-labelmap.txt
  Software/fos/py65mon-listing.txt
  Software/fos/utils.s
  docs/_posts/2023-03-07-filesystem-for-planck.md
Due: io_erc, io_drc, io_out, pages

Add blog post and minix experiment
  Software/fos/fos-py65mon.bin
  Software/fos/macros.s
  Software/fos/platform/py65mon/main.s
  Software/fos/platform/py65mon/memory.cfg
  Software/fos/py65mon-labelmap.txt
  Software/fos/py65mon-listing.txt
  Software/tests/cf_test.s
  docs/_drafts/2023-02-25-kibot-generate-artifacts.md
  docs/_posts/2023-03-07-filesystem-for-planck.md
  docs/img/minix.txt
Due: pages

Manually run doc deploy
  .gitlab-ci.yml
Due: none

only copy hardware files if they exist
  .gitlab-ci.yml
Due: none

both manual and automatic pages
  .gitlab-ci.yml
Due: none

add quotes around command
  .gitlab-ci.yml
Due: none

add quotes for colspans
  docs/_posts/2023-03-07-filesystem-for-planck.md
Due: pages

more colspans
  docs/_posts/2023-03-07-filesystem-for-planck.md
Due: pages

Path conditions:
  mainboard_erc: any of: Hardware/mainboard/mainboard.kicad_sch
  io_erc: any of: Hardware/io_board/io_board.kicad_sch
  lcd_erc: any of: Hardware/lcd_board/lcd_board.kicad_sch
  opl_erc: any of: Hardware/opl2_board/opl2_board.kicad_sch
  proto_erc: any of: Hardware/proto_board/proto_board.kicad_sch
  mainboard_drc: any of: Hardware/mainboard/mainboard.kicad_pcb
  lcd_drc: any of: Hardware/lcd_board/lcd_board.kicad_pcb
  io_drc: any of: Hardware/io_board/io_board.kicad_pcb
  opl_drc: any of: Hardware/opl2_board/opl2_board.kicad_pcb
  proto_drc: any of: Hardware/proto_board/proto_board.kicad_pcb
  mainboard_out: any of: Hardware/mainboard/mainboard.kicad_sch, Hardware/mainboard/mainboard.kicad_pcb
  lcd_out: any of: Hardware/lcd_board/lcd_board.kicad_pcb, Hardware/lcd_board/lcd_board.kicad_sch
  io_out: any of: Hardware/io_board/io_board.kicad_pcb, Hardware/io_board/io_board.kicad_sch
  opl_out: any of: Hardware/opl2_board/opl2_board.kicad_pcb, Hardware/opl2_board/opl2_board.kicad_sch
  proto_out: any of: Hardware/proto_board/proto_board.kicad_pcb, Hardware/proto_board/proto_board.kicad_sch
  pages: any of: docs/**/*
