Repository jfoucher/planck-6502: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mainboard_erc, io_erc, lcd_erc, opl_erc, proto_erc, mainboard_drc, lcd_drc, io_drc, opl_drc, proto_drc, mainboard_out, lcd_out, io_out, opl_out, proto_out, pages

Path conditions:
  mainboard_erc: any of: Hardware/mainboard/mainboard.kicad_sch
  io_erc: any of: Hardware/io_board/io_board.kicad_sch
  lcd_erc: any of: Hardware/lcd_board/lcd_board.kicad_sch
  opl_erc: any of: Hardware/opl2_board/opl2_board.kicad_sch
  proto_erc: any of: Hardware/proto_board/proto_board.kicad_sch
  mainboard_drc: any of: Hardware/mainboard/mainboard.kicad_pcb
  lcd_drc: any of: Hardware/lcd_board/lcd_board.kicad_pcb
  io_drc: any of: Hardware/io_board/io_board.kicad_pcb
  opl_drc: any of: Hardware/opl2_board/opl2_board.kicad_pcb
  proto_drc: any of: Hardware/proto_board/proto_board.kicad_pcb
  mainboard_out: any of: Hardware/mainboard/mainboard.kicad_sch, Hardware/mainboard/mainboard.kicad_pcb
  lcd_out: any of: Hardware/lcd_board/lcd_board.kicad_pcb, Hardware/lcd_board/lcd_board.kicad_sch
  io_out: any of: Hardware/io_board/io_board.kicad_pcb, Hardware/io_board/io_board.kicad_sch
  opl_out: any of: Hardware/opl2_board/opl2_board.kicad_pcb, Hardware/opl2_board/opl2_board.kicad_sch
  proto_out: any of: Hardware/proto_board/proto_board.kicad_pcb, Hardware/proto_board/proto_board.kicad_sch
  pages: any of: docs/**/*

jekyll update
  .gitlab-ci.yml
  docs/Gemfile
  docs/Gemfile.lock
Due: pages

add check for zone size
  docs/img/minix.txt
Due: pages

CF card works as block storage for forth
  Hardware/cf_board/cf_board.kicad_pcb
  Hardware/cf_board/cf_board.kicad_prl
  Hardware/cf_board/cf_board.kicad_sch
  Software/fos/fat16.s
  Software/fos/forth_code/user_words.fs
  Software/fos/fos-planck.bin
  Software/fos/fos-py65mon.bin
  Software/fos/headers.s
  Software/fos/macros.s
  Software/fos/minix.s
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/drivers/cf.inc
  Software/fos/platform/planck/drivers/cf.s
  Software/fos/platform/planck/drivers/timer.s
  Software/fos/platform/planck/drivers/zp.s
  Software/fos/platform/planck/main.s
  Software/fos/py65mon-labelmap.txt
  Software/fos/py65mon-listing.txt
  Software/fos/utils.s
  Software/tests/cf_test.s
Due: none

remove ed for less ram usage. Block editor is pretty good anyway
  Software/fos/fos-planck.bin
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/main.s
Due: none

remove now unused block storage words
  Software/fos/fos-planck.bin
  Software/fos/headers.s
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/main.s
Due: none

Add assembler + fix reading data from CF card
  Software/fos/fos-planck.bin
  Software/fos/headers.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/drivers/cf.s
  Software/fos/platform/planck/main.s
  Software/fos/strings.s
Due: none

add assembler
  Software/fos/assembler.s
  Software/fos/disassembler.s
Due: none

can boot from cf card
  Software/fos/Makefile
  Software/fos/native_words.s
  Software/fos/platform/planck/boot.cfg
  Software/fos/platform/planck/boot.s
  Software/fos/platform/planck/cf.cfg
  Software/fos/platform/planck/cf.s
  Software/fos/platform/planck/drivers/cf.s
Due: none

Add clock stretching + Simplify decoding.
  Hardware/cf_board/cf_board.kicad_pcb
  Hardware/cf_board/cf_board.kicad_prl
  Hardware/cf_board/cf_board.kicad_pro
  Hardware/cf_board/cf_board.kicad_sch
Due: none

Fix mainboard power + add A13 and A14 to RAM/ROM address decoding.
  .gitignore
  Hardware/mainboard/fp-info-cache
  Hardware/mainboard/mainboard.kicad_pcb
  Hardware/mainboard/mainboard.kicad_prl
  Hardware/mainboard/mainboard.kicad_pro
  Hardware/mainboard/mainboard.kicad_sch
  Software/PAL/proc-16v8.PLD
Due: mainboard_erc, mainboard_drc, mainboard_out

run erc/drc
  Hardware/mainboard/mainboard.kicad_pcb
  Hardware/mainboard/mainboard.kicad_pro
Due: mainboard_drc, mainboard_out

ADD 3D view to docs
  docs/Hardware/io.md
  docs/Hardware/mainboard.md
Due: pages

Add JLC text
  Hardware/ram_board/ram_board.kicad_pcb
  Hardware/ram_board/ram_board.kicad_prl
Due: none

fail
  .gitignore
  Software/fos/forth_code/user_words.fs
  Software/fos/fos-planck.bin
  Software/fos/fos-py65mon.bin
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/drivers/cf.s
  Software/fos/platform/planck/main.s
  Software/fos/py65mon-labelmap.txt
  Software/fos/py65mon-listing.txt
  Software/fos/utils.s
Due: none

make LCD work
  .gitignore
  Software/fos/fos-planck.bin
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/drivers/acia.s
  Software/fos/platform/planck/drivers/cf.s
  Software/fos/platform/planck/drivers/lcd.s
  Software/fos/platform/planck/drivers/ps2.s
  Software/fos/platform/planck/drivers/spi.s
  Software/fos/platform/planck/main.s
  docs/Hardware/cf.md
Due: pages

Add R/W to LCD board enable
  Hardware/lcd_board/lcd_board.kicad_pcb
  Hardware/lcd_board/lcd_board.kicad_prl
  Hardware/lcd_board/lcd_board.kicad_pro
  Hardware/lcd_board/lcd_board.kicad_sch
Due: lcd_erc, lcd_drc, lcd_out

Add word to disabled LCD
  Software/fos/fos-planck.bin
  Software/fos/headers.s
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/drivers/lcd.s
  docs/Hardware/lcd.md
Due: pages

Remove superfluous drivers folder
  Software/drivers/LICENSE
  Software/drivers/README.md
  Software/drivers/acia.inc
  Software/drivers/acia.s
  Software/drivers/delayroutines.s
  Software/drivers/fat32.s
  Software/drivers/lcd.inc
  Software/drivers/lcd.s
  Software/drivers/mult_table.js
  Software/drivers/mult_table_lores.js
  Software/drivers/ps2.inc
  Software/drivers/ps2.s
  Software/drivers/ps2_irq.s
  Software/drivers/sd.s
  Software/drivers/spi.s
  Software/drivers/timer.s
  Software/drivers/vga.inc
  Software/drivers/vga.s
  Software/drivers/via.inc
  Software/drivers/zp.inc
Due: none

Smaller resistors for CF card.
  Hardware/cf_board/cf_board.kicad_pcb
  Hardware/cf_board/cf_board.kicad_prl
  Hardware/cf_board/cf_board.kicad_pro
  Hardware/cf_board/cf_board.kicad_sch
Due: none

Add photo of the compactflash board
  Hardware/cf_board/README.md
  docs/Hardware/cf.md
  docs/Hardware/serial.md
  docs/img/compactflash.jpg
Due: pages

update for LCD
  Software/fos/fos-planck.bin
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
Due: none

Fix image url
  Hardware/cf_board/README.md
Due: none

Fix image link in docs
  docs/Hardware/cf.md
Due: pages

remove schematic from source.
  Hardware/cf_board/cf_board.pdf
Due: none

change post date
  docs/_posts/2023-03-27-compactflash-6502.md
Due: pages

typo
  docs/_posts/2023-03-27-compactflash-6502.md
Due: pages

syntax highlight + add images to CF post
  docs/Hardware/index.md
  docs/Software/index.md
  docs/_config.yml
  docs/_posts/2023-03-07-filesystem-for-planck.md
  docs/_posts/2023-03-27-compactflash-6502.md
  docs/css/highlight.css
  docs/img/cf-proto-back.jpg
  docs/img/cf-proto-front.jpg
Due: pages

move cf socket so that it is easier to extract
  Hardware/cf_board/cf_board.kicad_pcb
  Hardware/cf_board/cf_board.kicad_prl
  Hardware/cf_board/cf_board.kicad_pro
Due: none

clean
  Software/fos/platform/planck/drivers/cf.s
  Software/fos/platform/planck/drivers/timer.s
  Software/fos/platform/planck/drivers/zp.s
  Software/fos/platform/planck/main.s
Due: none

fix ERC
  Hardware/cf_board/cf_board.kicad_pcb
  Hardware/cf_board/cf_board.kicad_pro
Due: none

[WIP] keyboard
  .gitignore
  Hardware/keyboard/keyboard.kicad_pcb
  Hardware/keyboard/keyboard.kicad_prl
  Hardware/keyboard/keyboard.kicad_pro
  Hardware/keyboard/keyboard.kicad_sch
Due: none

Add non working warning
  docs/Hardware/mainboard.md
Due: pages

Make code work with v1.4 hardware
  Software/PAL/Processor-16V8.jed
  Software/PAL/proc-16v8.PLD
  Software/fos/fos-planck.bin
  Software/fos/native_words.s
  Software/fos/planck-labelmap.txt
  Software/fos/planck-listing.txt
  Software/fos/platform/planck/boot.cfg
  Software/fos/platform/planck/boot.s
  Software/fos/platform/planck/drivers/acia.s
  Software/fos/platform/planck/drivers/cf.s
  Software/fos/platform/planck/main.s
  docs/Hardware/mainboard.md
Due: pages

Change slot solder mask
  Hardware/mainboard/mainboard.kicad_pcb
  Hardware/mainboard/mainboard.kicad_sch
Due: mainboard_erc, mainboard_drc, mainboard_out

Add midi board + test code.
  Hardware/midi/README.md
  Hardware/midi/midi.kicad_pcb
  Hardware/midi/midi.kicad_prl
  Hardware/midi/midi.kicad_pro
  Hardware/midi/midi.kicad_sch
  Hardware/midi/midi.pro
  Hardware/midi/sym-lib-table
  Software/tests/Makefile
  Software/tests/midi_test.s
  Software/tests/notes.txt
  Software/tests/notes2.txt
  Software/tests/planck.cfg
  Software/tests/sound_test.s
Due: none

Add payment links
  .gitignore
  docs/Hardware/index.md
  docs/Hardware/mainboard.md
  docs/thank-you.md
Due: pages

Remove buy links
  docs/Hardware/index.md
  docs/Hardware/mainboard.md
Due: pages
